@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 14px;
  }

  body {
    @apply bg-slate-950 text-slate-100 antialiased;
    margin: 0;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
  }

  pre {
    @apply font-mono text-sm;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-slate-950;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600;
  }
}
